.login {
    max-width: 540px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00000026;
}

.all {
    max-width: 540px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.login input {
    margin-top: 1rem;
}

form,
div,
main {
    transition: all 1s allow-discrete;
}

.red-dot {
    height: 1rem;
    width: 1rem;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.green-dot {
    height: 1rem;
    width: 1rem;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

/*
.content {
    max-width: 710px;
    background-color: #f8f9fa;
    margin: auto;
    margin-top: 15px;
    border: 1px solid #aaaaaa;
    border-radius: 15px;
}
*/

.content {
    max-width: 710px;
    /*background-color: #f8f9fa;*/
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px #00000026;
}

.showing {
    opacity: 1;
}

@starting-style {
    .showing {
        opacity: 0;
    }
}